.container {
    margin: 2rem 6rem;
}

.actionBar {
    height: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.searchBox {
    background-color: var(--white);
    padding: .5rem;
    padding-left: .75rem;
    color: var(--dark-gray);
    box-shadow: var(--box-shadow-light);
    border: none;
    border-radius: 6px;

    input {
        padding: .375rem;
        width: 350px;
        margin-left: .375rem;
        border: none;
        background-color: transparent;
    }
}

.regionFilter {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--white);
    box-shadow: var(--box-shadow-light);
    border: none;
    border-radius: .5rem;
}

.countryGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    z-index: -1000;
}

main[data-theme="dark"] {
    .searchBox {
        background-color: var(--dark-blue);
        box-shadow: var(--box-shadow-dark);
        color: var(--white);

        input {
            color: var(--white)
        }

        input::placeholder {
            color: var(--white);
            opacity: 1;

        }
    }
}