@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    /* color variables */
    --dark-blue: hsl(209, 23%, 22%);
    --darker-blue: hsl(207, 26%, 17%);
    --dark-gray: hsl(0, 0%, 52%);
    --light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    /* type size */
    --font-smaller: 14px;
    --font-larger: 16px;
    /* font */
    --font: "Nunito-Sans", sans-serif;
    --weight-normal: 300;
    --weight-bold: 600;
    --weight-bolder: 800;
    /* design widths */
    --mobile-breakpoint: 375px;
    --desktop-breakpoint: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-gray);
    font-family: var(--font);
}

main {
    font-family: var(--font-smaller);
}